{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Store: {{ store.name }} Create New Article{% endblock %}

{% block content %}
    <h1>Store: {{ store.name }} Create New Article</h1>
    <div class="row">
        <div class="col-md-9">
            <form class="form-horizontal" method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn">Send</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
