{% extends "base.html" %}
{% load static %}

{% block title %}Article: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
        <p>Article Name: {{ object.name }}</p>
        <p>Description: {{ object.description }}</p>
        <p>Price: {{ object.price }}</p>
        <p>Total in Shelf: {{ object.total_in_shelf }}</p>
        <p>Total in Vault: {{ object.total_in_vault }}</p>
        <p><a href="{% url 'articles:update' object.pk %}">Update Article</a></p>
    </div>
  </div>

</div>
{% endblock content %}

