{% extends "base.html" %}
{% load static %}

{% block title %}Store: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
        <p>Store Name: {{ object.name }}</p>
        <p>Store Address: {{ object.address }}</p>
        <p><a href="{% url 'stores:update' object.pk %}">Update Store</a></p>
        <p><a href="{% url 'articles:stores' object.pk %}">See Store Articles</a></p>
    </div>
  </div>


</div>
{% endblock content %}

