{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Stores{% endblock %}

{% block content %}

<div class="container">

    <h2>Stores</h2>

    <div class="list-group">
        {% for store in object_list %}
          <a href="{% url 'stores:detail' store.pk %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ store.name }}</h4>
          </a>
        {% endfor %}
        <br>
        <a href="{% url 'stores:create' %}">Add Store</a>
    </div>
</div>
{% endblock content %}
