{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create New Store{% endblock %}

{% block content %}
    <h1>Create New Store</h1>
    <form class="form-horizontal" method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Send</button>
          </div>
        </div>
    </form>
{% endblock %}
