{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Store: {{ store.name }} - Articles{% endblock %}

{% block content %}

<div class="container">

    <h2>Store: {{ store.name }} - Articles</h2>

    <div class="list-group">
        {% for article in object_list %}
          <a href="{% url 'articles:detail' article.pk %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ article.name }}</h4>
          </a>
        {% empty %}
            There are not articles, click on link below to start add.
        {% endfor %}
        <br>
        <a href="{% url 'articles:create' %}">Add Article</a>
    </div>
</div>
{% endblock content %}
